<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title></title>
</head>
<body>
<h2>All users list</h2>
<table class="zebra-table">

    <tr>
        <th>Name  </th>
        <th>Surname  </th>
        <th>Age  </th>
        <th>Email  </th>
        <th>Settings</th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:style="'display: flex; gap: 3px;'">
            <form th:action="@{/deleteUser}" method="post">
                <input type="hidden" name="userID" th:value="${user.id}" />
                <button type="submit">Delete</button>
            </form>
            <form th:action="@{/updateUser}" method="get">
                <input type="hidden" name="userID" th:value="${user.id}" />
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
    <br>
</table>
<form action="add" method="get">
    <button type="submit">Add user</button>
</form>
</body>
</html>